# AWS CLI
aws/

# Env files
*.env

# Kubernetes sensitive files
*.pem
*.key

# OS junk
.DS_Store

# node modules (if any)
node_modules/
.terraform/
*.tfstate
*.tfstate.*
crash.log
.terraform/
*.tfstate
*.tfstate.*
terraform.tfstate
crash.log
node_modules/
